


body {
  margin:0
}

body {
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
  
}

body {
	font: 400 12px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #111;
	-webkit-text-size-adjust: 100%;
	-moz-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
  font-family:Helvetica, Arial, sans-serif;font-size:16px;line-height:1.5;font-weight:300;background-color:#fdfdfd;
}

.site-header {
	border-top: 5px solid #424242;
	border-bottom: 1px solid #e8e8e8;
	min-height: 56px;
	background-color: #eaeaea;
	position: relative;
}

.site-nav {
	float: right;
	line-height: 56px;
}

.site-title {
  font-size: 25px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
	font-weight: bold;
}
.site-nav .page-link:not(:last-child) {
	margin-right: 20px;
}

.wrapper {
	max-width: -webkit-calc(800px - (30px * 2));
	max-width: calc(800px - (30px * 2));
	margin-right: auto;
	margin-left: auto;
	padding-right: 30px;
	padding-left: 30px;
}

.profile-pic {
  float: right;
  padding: 0px;
  border-radius: 50%;
  width:200px;
  box-shadow: 5px 5px 5px #9f9f9f;
}

.profile-picdiv {
  float: right;
  padding: 20px;
  border-radius: 50%;
  width:200px;
}

.post {
  margin-right: 150px;
  margin-left: 150px;
}

hr {
  border-style: dashed;
  color: #ddd;
}

a {
	text-decoration: none;
}
a, a:visited {
	color: rgb(194, 13, 0);
}




li:last-child {
    border-right: none;
}
li a {
    
    color: black;
    text-align: center;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #d2d2d2;
}
.active {
    background-color: #4CAF50;
}

.wrap{max-width:1000px;padding:0 30px;margin:0 auto;zoom:1;}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

footer {
	border-top: 1px solid #e8e8e8;
	padding-top: 1em;
	background-color: #e6e6e6;
  float: none;
  left: 0;
  bottom: 0;
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.footer-col-wrapper {
	font-size: 15px;
	color: #262626;
	margin-left: -15px;
}
.footer-col {
	float: left;
	margin-bottom: 15px;
	padding-left: 15px;
}
.footer-col-1 {
	width: -webkit-calc(33% - (30px / 2));
	width: calc(33% - (30px / 2));
}
.contact-list, .social-media-list {
	list-style: none;
	margin-left: 0;
}


ol.reverse {
	display: flex;
	flex-direction: column-reverse;
}
ol.publications {
	margin-left: 0;
	padding-left: 30px;

  line-height: 0.5em;
}

p.badges {
	margin-bottom: 5px;
}
.id {
	font-size: .75rem;
	white-space: nowrap;
	font-family: monospace;
}
.id-arxiv {
	background-color: #d9534f;
}
.id-type {
	border-radius: 4px 0 0 4px;
	padding-left: 0.6em;
	padding-right: 0.5em;
	color: white;
}
.id-key {
	border-radius: 0 4px 4px 0;
	padding-left: 0.5em;
	padding-right: 0.6em;
	color: #337ab7;
	background-color: whitesmoke;
	margin-right: 0.4em;
}
.id-doi {
	background-color: #0a0a0a;
}